* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.parent {
  padding: 30px;
  margin: 15px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.heading {
  display: flex;
  justify-content: space-between;
  background-color: #f5f7fa;
  /* position: fixed;
  top: 0;
  width: 1300px;
  border: 1px solid black; */
}

.links {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.links,
.link,
li {
  color: #18191f;
}

.btn {
  padding: 1rem 2rem;
  font-size: 15px;
  gap: 2px;
}

.loginbtn {
  color: #4caf4f;
  font-size: 15px;
  width: 48px;
  height: 25px;
  text-decoration: none;
}

.signupbtn {
  font-size: 15px;
  background-color: #4caf4f;
  width: 70px;
  height: 25px;
  color: #fff;
}

.heading,
.heading2 {
  background-color: #f5f7fa;
}

.heading2 {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 76px;
  color: #4d4d4d;
}

#green {
  color: #4caf4f;
}

.p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  color: #4d4d4d;
}

.register {
  width: 70px;
  height: 30px;
  background-color: #4caf4f;
  color: #fff;
}

.heading3 {
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.client,
.p2 {
  text-align: center;
}
.client {
  color: #4d4d4d;
}
.p2 {
  color: #717171;
}

.heading4 {
  text-align: center;
}

.community {
  color: #4d4d4d;
}

.p3 {
  color: #717171;
}

.parent2 {
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.member,
.national,
.clubs {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  width: 267px;
  height: 72px;
}

.p4a,
.p4b,
.p4c {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 251px;
  height: 60px;
  text-align: center;
}

.parent3 {
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 1440px;
  height: 433px;
}

.child5 {
  display: flex;
  width: 661px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.learnmore {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #4caf4f;
  color: #fff;
}

.parent4 {
  display: flex;
  width: 1340px;
  padding: 64px 140px;
  justify-content: space-between;
  align-items: center;
  background: #f5f7fa;
}

.helping {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

#itself {
  color: #4caf4f;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.dedication {
  color: #18191f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.child7,
.child8,
.child9,
.child10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.num1,
.num2,
.num3,
.num4 {
  color: #4d4d4d;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.mem,
.event,
.clu,
.pay {
  color: #4d4d4d;
  font-size: 10px;
  font-weight: 7;
  line-height: 36px;
}

.parent6 {
  display: flex;
  width: 1340px;
  padding: 32px 144px;
  align-items: center;
  justify-content: space-between;
  gap: 78px;
  background: #f5f7fa;
}

.parent6 .child12, .child13{
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.enim {
  color: #717171;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.tim {
  color: #4caf4f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.boat {
  color: #89939e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
